* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    padding: 20px;
}

div.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

h1.container-title {
    color: #233441;
    font-size: 42px;
    font-weight: 700;
}

h2.subtitle {
    margin: 18px 0px 20px 0px;
    font-weight: 400;
    color: #333;
}

div.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 300px;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

div.input-group {
    margin-bottom: 15px;
}

div.input-group label {
    display: flex;
    padding: 0.5rem 0rem;
    color: #333;
}

div.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button.login-button {
    width: 100%;
    padding: 10px;
    background-color: #233441;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.login-button:hover {
    background-color: #233441a8;
}

p.forgot-password {
    text-align: center;
    margin-top: 10px;
}

p.forgot-password a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

p.forgot-password a:hover {
    color: #333333cb;
}

/* Responsividade */
@media (max-width: 768px) {
    h1.container-title {
        font-size: 28px;
    }

    h2.subtitle {
        font-size: 18px;
    }

    div.input-group input {
        font-size: 14px;
        padding: 8px;
    }

    button.login-button {
        font-size: 16px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    h1.container-title {
        font-size: 28px;
    }

    h2.subtitle {
        font-size: 18px;
    }

    div.login-container {
        padding: 15px;
    }

    div.input-group input {
        font-size: 13px;
        padding: 7px;
    }

    button.login-button {
        font-size: 14px;
        padding: 10px;
        width: 80px;
    }

    p.forgot-password a {
        font-size: 14px;
    }
}